

body {
	background-color: #ecf1ef; 
	margin: auto;
	font-family: 'Droid Sans', sans-serif;
	z-index:1;	
}

header { 
	background-image: url('head.jpg');
    background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
    height: 150px;
    position: fixed;
	text-align: center center;
    color: black;
    top:0px;
	Font-Size: 150%;
	font-family:"arial black", Helvetica, sans-serif;
	z-index:2;
}
nav {
    Margin-top: 150px;
	line-height: normal;
	color: black; 
    height:60px;
    width:100%;
    float:left;
    padding:5px; 
	position: fixed;
}
section {
	top:200px;
	background-image: url('cubr.jpg');
	background-size:cover; 
	background-repeat: no-repeat;
	background-position: 50% 0%;
	left:100px;
	right:100px;
	z-index:0;
	height:1300px;
}
footer {
    background-color: #81bef7;
	width:100%;
	height:30px;
	background-size: cover;
    color:white;
    clear:both;
    text-align: right;
    padding:0px;
	bottom:-60%;	
	font-weight: 500;
	position: absolute;
	
}
li{
	display: inline;
	list-style-type: none;
	padding: 5px;
}
a:link, a:visited {
    display: block ;
	line-height: 40px;
    font-weight: bold;
    color: #ffffff;
    background-color: #101417; 
	/*#98bf21;  green, #60affe blue,  #7A991A swampy green  slate:#2c3539*/
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    background-color: #DAB00C;
}
info{
	top: 200px;	
	left: 20%;
	right: 5%;
	position: relative;
	height: 150px;
	line-height: normal;
	text-align: justify;
	font-size: 115%;
}
input[type=search] {
	top: 200px;
    padding: 0;
    height: 30px;
    position: absolute;
    left: 35%;
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}
.advancedSearchTextbox {
    margin-top: 200px;
	width: 526px;
    margin-right: -4px;
	position: fixed;
	margin-top: 150px;
    padding: 0;
    height: 30px;
    position: fixed;
    right: 5%;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}
form{
	top: 90px;
	left: 250px;
	font-family:"arial black", Helvetica, sans-serif;
	font-size: inherit;
	position: absolute;
	
}
.userpic{
	height:250px;
	width:auto;
	border: 3px solid #101417;
	margin:	3%;
	position: absolute;
	float: bottom;
	left: 20%;
	top:150px;
	z-index:0;
}
userinfo{
	height:250px;
	width:37%;
	border: 3px solid #101417;
	margin:	3%;
	position: absolute;
	float: bottom;
	left: 40%;
	top:150px;
	z-index:0;
	font-size:150%;
	font-weight: bold;
    color: black;
	background-color: #ffd700;
	text-align: left;
	padding: 10px 0  0 30px;
}

table#t01 {
	top: 270px;
	position: absolute;
    width: 55%; 
    background-color: #f1f1c1;
	left: 75px;
	border-spacing: 5px;
	border: 3px solid #101417;
}
th, td {
    padding: 15px;
}
