

body {
	background-color: #ecf1ef; 
	margin: auto;
	font-family: 'Droid Sans', sans-serif;
	z-index:1;	
}

header { 
	background-image: url('hbg.jpg');
    background-repeat: no repeat;
	background-size: cover;
	width: 100%;
    height: 120px;
    position: fixed;
	text-align: center center;
    color: White;
    top:0px;
	Font-Size: 150%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	z-index:2;
}
nav {
    Margin-top:120px;
	line-height: normal;
	color: black; 
    height:60px;
    width:100%;
    float:left;
    padding:5px; 
	position: fixed;
}
section {
	top:0px;
	background-image: url('tbg2.jpg');
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: 50% 0%;
	left:100px;
	right:100px;
	z-index:0;
	height:1300px;
}
footer {
    background-color: #81bef7;
	width:100%;
	height:30px;
	background-size: cover;
    color:white;
    clear:both;
    text-align: right;
    padding:0px;
	bottom:-60%;	
	font-weight: 500;
	position: absolute;
	
}
li{
	display: inline;
	list-style-type: none;
	padding: 5px;
}
a:link, a:visited {
    display: block ;
	line-height: 40px;
    font-weight: bold;
    color: #ffffff;
    background-color: #2c3539; 
	/*#98bf21;  green, #60affe blue,  #7A991A swampy green*/
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    background-color: #1A5A9A;
}
info{
	top: 200px;	
	left: 20%;
	right: 15%;
	position: fixed;
	height: 150px;
	line-height: normal;
	text-align: justify;
	font-size: 115%;
}
input[type=text] {
	margin-top: 125px;
    padding: 0;
    height: 30px;
    position: fixed;
    right: 5%;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}
.advancedSearchTextbox {
    width: 526px;
    margin-right: -4px;
}
.galpic{
	height:300px;
	width:200px;
	border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
	margin:	3%;
	position: relative;
	float: bottom;
	left: 28%;
	top:150px;
	z-index:0;
}

